<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheets/pureStyleSheet.css">
    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
    <title>Photo-App Login</title>
</head>
<body>
<div class = "container">
    <div class = "menu">
        <ul>
            <li class = "logo"><img src = "images/SpongeDance.gif"></li>
            <li><a class = "home-btn" href = "index"><i class="fa fa-home"></i>Home</a></li>
            <li class = "active"><a class = "login-btn" href = "login">Login</a></li>
            <li><a class = "logout-btn" href = "logout">Logout</a></li>
            <li><a class = "register-btn" href = "registration"><span>Register</span></a></li>
            <li><a class = "postImage-btn" href = "postimage"><i class="fa fa-camera"></i>Post</a></li>
            <li><label class = "search-post"><i class="fa fa-search"></i>Search Post<input type = "text" placeholder = "title"></label></li>
        </ul>
    </div>
    <div class = "banner">
        <div class = "app-text">
            <h1>You have successfully<br>logged out!</h1>
        </div>
    </div>
</div>
</body>
</html>