<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheets/pureStyleSheet.css">
    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
    <script type="text/javascript" defer src = "/javascripts/postimage.js"></script>
    <title>Photo-App Image</title>
</head>
<body>
<div class = "container">
    <div class = "menu">
        <ul>
            <li class = "logo"><img src = "images/SpongeDance.gif"></li>
            <li><a class = "home-btn" href = "index"><i class="fa fa-home"></i>Home</a></li>
            <li class = "active"><a class = "login-btn" href = "login">Login</a></li>
            <li><a class = "logout-btn" href = "logout">Logout</a></li>
            <li><a class = "register-btn" href = "registration"><span>Register</span></a></li>
            <li><a class = "postImage-btn" href = "postimage"><i class="fa fa-camera"></i>Post</a></li>
            <li><label class = "search-post"><i class="fa fa-search"></i>Search Post<input type = "text" placeholder = "title"></label></li>
        </ul>
    </div>
    <form>
        <fieldset>
            <label class = "PostTitle"> Post Title
                <input id = "inputPostTitle" type="text" placeholder="Post Title " />
            </label>

            <label class = "PostDescription"> Post Description
                <input id = "inputPostDescription" type = "text"  placeholder = "Post Description " />
            </label>

            <label class = "PostImage"> Post Image
                <input id = "inputPostImage" type = "file" >
                <img class = "image" src="#" alt = "">
            </label>

            <label class = "TOSPrivacy"> Check the box if you accept the Acceptable Use Policy for uploading images.
                <input id = "inputTOSPrivacy" type = "checkbox"/>
            </label>
            <button id = "postButton" type = "button">Post</button>
        </fieldset>
    </form>
</div>
</body>
</html>