<head>
    <script type="text/javascript" defer src = "/javascripts/login.js"></script>
</head>
<body>
<div class = "container">
    <form class = "LoginForm">
        <fieldset class = "LoginField">
            <label class = "userName"> User Name
                <input id = "userNameInput" type = "text" placeholder = "User Name "/>
            </label>
            <label class = "passWord"> Password
                <input id = "passWordInput" type = "password" placeholder = "Password "/>
            </label>
            <button id = "loginEnter" type = "button">Login</button>
        </fieldset>
    </form>
</div>
</body>