<head>
    <script type="text/javascript" defer src = "/javascripts/postimage.js"></script>
</head>
<body>
<div class = "container">
    <form>
        <fieldset>
            <label class = "PostTitle"> Post Title
                <input id = "inputPostTitle" type="text" placeholder="Post Title " />
            </label>

            <label class = "PostDescription"> Post Description
                <input id = "inputPostDescription" type = "text"  placeholder = "Post Description " />
            </label>

            <label class = "PostImage"> Post Image
                <input id = "inputPostImage" type = "file" >
                <img class = "image" src="#" alt = "">
            </label>

            <label class = "TOSPrivacy"> Check the box if you accept the Acceptable Use Policy for uploading images.
                <input id = "inputTOSPrivacy" type = "checkbox"/>
            </label>
            <button id = "postButton" type = "button">Post</button>
        </fieldset>
    </form>
</div>
</body>