<head>
    <script type="text/javascript" defer src = "/javascripts/registration.js"></script>
</head>
<body>
<div class = "container">
    <form class = "LoginForm">
        <fieldset class = "LoginField">
            <label class = "userName"> User Name
                <input id = "userNameInput" type = "text" placeholder = "New username "/>
            </label>
            <label class = "passWord"> Password
                <input id = "passWordInput" type = "password" placeholder = "New password "/>
            </label>
            <label class = "passWordRepeat"> Repeat Password
                <input id = "passWordConfirmationInput" type = "password" placeholder = "Repeat Password "/>
            </label>
            <label class = "email"> Your Email
                <input id = "emailInput" placeholder="Email"/>
            </label>
            <label class = "user13plus"> Check the box if you are 13+ years of age
                <input id = "user13plusInput" type = "checkbox" />
            </label>
            <label class = "TOSPrivacy"> Check the box if you agree with our TOS and Privacy Rules
                <input id = "TOSPrivacyInput" type = "checkbox" />
            </label>
            <button id = "registerEnter" type = "button">Register</button>
        </fieldset>
    </form>
</div>
</body>