<body>
<div class = "container">
    <form>
        <fieldset>
            <label class = "postInformation">
                {{{ body }}}
            </label>
                {{# each anyArray as |val key|}}
                    {{ key}} : {{ val }}
                {{/each}}
        </fieldset>
    </form>
</div>
</body>