<body>
<div class = "container">
    <form>
        <fieldset>
            <label class = "postInformation">
                <a href = "viewpost"><img src = "images/SpongeWaveAnimation.gif"></a>
            </label>
            <div class = commentBlock>Author should be here.
                <p>
                    Comments should be here.
                </p>
            </div>
            <div class = commentBlock>Author should be here.
                <p>
                    Comments should be here.
                </p>
            </div>

        </fieldset>
    </form>
</div>
</body>