html
{
  background-color: lightskyblue;
}
body
{
  padding: 50px;
  text-align: center;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  background-image: linear-gradient(lightseagreen, mediumspringgreen);
}

a
{
  color: #00B7FF;
}
